{% extends "main/base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %}
<div class="products-block">
    <div class="content">
      <div class="block-bar">
        <h2 class="block-bar__title title">Популярные товары</h2>
      </div>
      <div class="products-block__content">
        <div class="products-block__popular">
          <a class="products-block__item products-block__main-item" href="#">
            <img src="{% static "deps/assets/dudka.png" %}" alt="">
          </a>
        </div>
        <div class="products-block__items">
          <a href="#" class="products-block__item">
            <img src="{% static "deps/assets/dudka.png" %}" alt="">
          </a>
          <a href="#" class="products-block__item">
            <img src="{% static "deps/assets/dudka.png" %}" alt="">
          </a>
          <a href="#" class="products-block__item">
            <img src="{% static "deps/assets/dudka.png" %}" alt="">
          </a>
          <a href="#" class="products-block__item">
            <img src="{% static "deps/assets/dudka.png" %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="goods-block">
    <div class="content">
      <div class="block-bar">
        <h2 class="block-bar__title title hidden">Все товары</h2>
      </div>
      <div class="filters-bar">
        <button onclick="toggleMenu()" class="filters-bar__action active">
          <span class="filters-bar__icon material-symbols-outlined">filter_list</span> Фильтры
        </button>
        <form action=" {% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url 'catalog:index' %}{% endif %}" method="get" id="sortingForm">
          <div class="dropdown">
            <button class="filters-bar__action filters-bar__action--transparent" type="button">
              Сортировка <span class="filters-bar__icon material-symbols-outlined">keyboard_arrow_down</span>
            </button>
            {% for key, value in request.GET.items %}
              {% if key != 'order_by' and key != 'categories' %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
              {% endif %}
            {% endfor %}

            {% if request.GET.q %}
            <input type="hidden" name="q" value="{{ request.GET.q }}">
            {% endif %}

            <div class="dropdown-content">
              <div class="dropdown__item">
                <input type="radio" name="order_by" value="default" id="sortingradio1"
                  {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                <label for="sortingradio1">По умолчанию</label>
              </div>
              <div class="dropdown__item">
                <input type="radio" name="order_by" value="new" id="sortingradio2"
                  {% if request.GET.order_by == 'new' %}checked{% endif %}>
                <label for="sortingradio2">Новые</label>
              </div>
              <div class="dropdown__item">
                <input type="radio" name="order_by" value="price" id="sortingradio3"
                  {% if request.GET.order_by == 'price' %}checked{% endif %}>
                <label for="sortingradio3">От дешевых к дорогим</label>
              </div>
              <div class="dropdown__item">
                <input type="radio" name="order_by" value="-price" id="sortingradio4"
                  {% if request.GET.order_by == '-price' %}checked{% endif %}>
                <label for="sortingradio4">От дорогих к дешевым</label>
              </div>
            </div>
          </div>

      </div>
      <aside class="filter-menu" id="filterMenu">
        <div class="filter-menu__scroll">
          <div class="filter-menu__section">
            <h3 class="filter-menu__title">Тип продукции</h3>
            <ul class="filter-menu__categories">
              {% categories as categories %}
              {% for category in categories %}
              <li>
                <input type="checkbox" id="type{{ forloop.counter }}" name="categories" value="{{ category.id }}"
                {% if category.id in selected_categories %}checked{% endif %}>
                <label for="type{{ forloop.counter }}">{{ category.name }}</label>
              </li>
              {% endfor %}
            </ul>
          </div>
          <hr>
          <div class="filter-menu__section">
            <h3 class="filter-menu__title">Цена</h3>
            <div class="price-range">
              <input type="number" placeholder="от" min="0">
              <span>–</span>
              <input type="number" placeholder="до" min="0">
            </div>
          </div>
          <hr>
          <div class="filter-menu__section">
            <h3 class="filter-menu__title">Наличие</h3>
            <label>
              <input type="radio" name="availability">
              В наличии
            </label>
          </div>
          <button type="submit" class="button">Применить</button>
        </form>
        </div>
      </aside>
      <div class="goods-block__list">
        {% comment %} {% goods as goods %} {% endcomment %}
        {% for product in products %}
        <div class="card">
          <a class="card__cover" href="{% url "catalog:product" product.slug %}">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card__image-cover" alt="{{ product.title }}" />
            {% else %}
            <img src="{% static "deps/assets/image_not_found.png" %}" class="card__image-cover" />
            {% endif %}
          </a>
          <div class="card__info">
            <div class="card__content">
              <p class="card__title">{{ product.title }}</p>
              <a class="card__username" href="#">@username</a>
            </div>
            <div class="card__price">{{ product.price }}₽</div>
          </div>
        </div>
        {% empty %}
        <p>Нет товаров по выбранным категориям</p>
        {% endfor %}
      </div>
      <nav class="goods__pagination">
        <ul class="goods__pagination-list">
          <li class="goods__pagination-item">
            <a class="{% if not products.has_previous %}disabled{% endif %}" href="{% if products.has_previous %}?{% change_params page=products.previous_page_number %}
            {% else %}
            #
            {% endif %}
            ">Предыдущая</a></li>

          {% for page in products.paginator.page_range %}
          <li class="goods__pagination-item">
            <a class="{% if products.number == page %}enabled{% endif %}" href="?{% change_params page=page %}">{{page}}</a>
          </li>
          {% endfor %}

          <li class="goods__pagination-item">
            <a class="{% if not products.has_next %}disabled{% endif %}" href="{% if products.has_next %}?{% change_params page=products.next_page_number %}
            {% else %}
            #
            {% endif %}
            ">Следующая</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- JavaScript для открытия/закрытия меню -->
  <script>
    const filterMenu = document.getElementById("filterMenu");

    function toggleMenu() {
      filterMenu.classList.toggle("open");
    }

    document.addEventListener("click", function(event) {
      const isClickInside = filterMenu.contains(event.target);
      const isButton = event.target.closest(".filters-bar__action");

      if (!isClickInside && !isButton && filterMenu.classList.contains("open")) {
        filterMenu.classList.remove("open");
      }
    });

    // Автоотправка формы сортировки
      document.querySelectorAll('input[name="order_by"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
          document.getElementById('sortingForm').submit();
        });
      });
  </script>
{% endblock content %}
