@charset "UTF-8";
.button {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  transition: 0.2s;
  background: #B979CB;
  color: #FFF;
  border-radius: 99em;
  padding: 15px 46px;
}
.button:hover {
  background: #9961a8;
}

.filters-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}
.filters-bar__icon {
  padding: 0;
}
.filters-bar__action {
  text-decoration: none;
  gap: 12px;
  background: #F3CEFE;
  color: #000;
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border: none;
  border-radius: 99em;
}
.filters-bar__action--transparent {
  background: white;
  border: 1px solid #F3CEFE;
}

.goods-block {
  margin-top: 64px;
}
.goods-block__list {
  display: grid;
  gap: 15px 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card__cover img {
  border-radius: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
  aspect-ratio: 10/9;
  object-fit: cover;
}
.card__info {
  display: flex;
}
.card__content {
  flex: 1;
}
.card__title {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  margin: 10px 0 5px 0;
}
.card__username {
  text-decoration: none;
  color: #7A7A7A;
  font-size: 14px;
}
.card__price {
  margin-top: 10px;
  font-size: 14px;
}

.artists-block {
  margin-top: 64px;
}
.artists-block__item {
  width: 270px;
  height: 365px !important;
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
}
.artists-block__cover {
  display: block;
  height: 215px;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}
.artists-block__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artists-block__info {
  height: 150px;
  background-color: #fff;
  text-align: center;
  padding-top: 50px;
  position: relative;
}
.artists-block__info-picture {
  position: absolute;
  top: -39px; /* половина высоты аватарки */
  left: 50%;
  transform: translateX(-50%);
  width: 78px;
  height: 77px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #F3CEFE;
}
.artists-block__info-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artists-block__title {
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
.artists-block__button {
  margin-top: 15px;
  display: inline-block;
}

.artists-block__item:last-child {
  margin-right: 0;
}

.markets-block {
  margin-top: 80px;
}
.markets-block__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.markets-block__item {
  flex: 1;
  width: 366px;
  box-sizing: border-box;
}
.markets-block__cover img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}
.markets-block__title {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0px 0px 5px;
}
.markets-block__info {
  color: #545454;
  font-size: 14px;
  margin: 10px 0 0 5px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .markets-block__list {
    flex-direction: column; /* Переводим карточки в колонку на мобильных */
    align-items: center; /* Центрируем карточки по горизонтали */
  }
  .markets-block__item {
    min-width: unset; /* Убираем минимальную ширину карточки */
    width: 100%; /* Карточки занимают всю доступную ширину */
  }
}
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: #F8F8F1;
}

.title {
  font-size: 32px;
  font-weight: 400;
  font-family: "Ysabeau SC", sans-serif;
}

.content {
  margin: 0 auto;
  display: block;
  width: 1140px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.header {
  background: #FEF5FF;
  position: fixed;
  width: 100%;
  border-radius: 0 0 20px 20px;
  z-index: 99999;
}
.header__container {
  height: 75px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-left: 2rem;
  width: 103px;
  height: auto;
}
.header__navigation {
  padding-left: 21px;
  list-style: none;
  display: flex;
  align-items: center;
}
.header__button {
  border-radius: 20px;
  color: #000;
  text-decoration: none;
  padding: 14px 14px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
}
.header__button:hover {
  background-color: rgba(112, 84, 121, 0.1);
}
.header__button--accent {
  background: #B979CB;
  color: #FFF;
  border-radius: 99em;
  padding: 14px 17px;
}
.header__button--accent:hover {
  background: #9961a8;
}
.header__button--circle {
  margin: 0 4px;
  background: #FFF;
  padding: 0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__button--circle:hover {
  background-color: #FFF;
  color: #B979CB;
}
.header__actions {
  margin-right: 2rem;
  flex: 1;
  justify-content: flex-end;
}

.search-bar {
  height: 45px;
  border-radius: 99em;
  margin-right: 21px;
  background: #FFF;
  display: flex;
  align-items: center;
}
.search-bar__icon {
  margin-left: 0.75rem;
}
.search-bar__filters {
  padding-right: 0.75rem;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}
.search-bar__input {
  border: none;
  outline: none;
  min-height: 100%;
  padding: 0 0.5rem;
  display: inline-block;
  flex: 1;
}
.search-bar__filters-item {
  font-size: 0.85rem;
  padding: 5px 10px;
  border-radius: 99em;
  background: transparent;
  border: 1px dashed #6294BF;
}
.search-bar__filters-item.active {
  background: #000;
  color: #FFF;
  border: 1px solid #000;
}

.hero-block {
  padding-top: 150px;
}
.hero-block .content {
  display: flex;
}
.hero-block__container {
  display: flex;
  align-content: center;
  gap: 20px;
}
.hero-block__title {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 400;
  font-size: 32px;
}
.hero-block__content {
  flex: 1;
}
.hero-block__image {
  width: 125px;
  height: auto;
}
.hero-block__description {
  width: 450px;
  font-size: 18px;
  line-height: 1.2;
}
.hero-block__cta-button {
  margin-top: 65px;
  position: relative;
  width: 162px;
  height: 162px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.hero-block__cta-svg {
  width: 162px;
  height: 162px;
  position: absolute;
  left: 0;
  top: 0;
  animation: 40s hero-animation infinite linear;
}
.hero-block__cta-text {
  text-align: center;
  z-index: 2;
  font-size: 1.15rem;
  line-height: 120%;
  color: #FFF;
  font-weight: 500;
  position: relative;
}
.hero-block__cover {
  position: absolute;
  right: 0;
  height: 399px;
  width: 50vw; /* Можно варьировать ширину */
  overflow: hidden;
  pointer-events: none;
}
.hero-block__cover img {
  width: 100%;
  height: 100%;
  border-radius: 218px 0 0 218px;
  object-fit: cover;
}

@keyframes hero-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.products-block {
  padding-top: 75px;
}
.products-block__content {
  display: flex;
  gap: 20px;
}
.products-block__popular, .products-block__items {
  flex: 1;
}
.products-block__items {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.products-block__item {
  border-radius: 25px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  display: block;
  overflow: hidden;
}
.products-block__item img {
  aspect-ratio: 10/9;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.block-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-bar__actions {
  display: block;
}

.hidden {
  display: none;
}

.line {
  margin-top: 50px;
  width: 100%;
  display: flex;
  overflow: hidden;
  background: #B979CB;
}

.line__inner {
  color: white;
  flex-shrink: 0;
  display: flex;
  gap: 5px;
  font-size: 20px;
  animation: anim 100s linear infinite;
}

@keyframes anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - 10px));
  }
}
.filter-menu {
  top: 75px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 420px;
  min-width: 420px;
  height: calc(100vh - 75px);
  background-color: #F8F8F1;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 1000;
  border: thick #D1D1D1;
}
.filter-menu__scroll {
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}
.filter-menu__title {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}
.filter-menu__section {
  margin-top: 15px;
  margin-bottom: 20px;
}
.filter-menu__categories {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter-menu__categories li {
  margin: 10px 0;
  font-size: 16px;
}

.filter-menu.open {
  left: 0;
  top: 75px;
}

hr {
  border-top: 1px solid #B3B3B3;
}

.price-range {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price-range input {
  width: 100px;
  padding: 5px;
  font-size: 14px;
}

.product-page__container {
  padding-top: 165px;
}
.product-page__content {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .product-page__content {
    flex-direction: column;
  }
}
.product-page__gallery {
  flex: 1 1 50%;
  max-width: 561px;
}
.product-page__gallery img {
  width: 100%;
  height: 540px;
  display: block;
  border-radius: 25px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.product-page__info {
  flex: 1 1 45%;
  min-width: 280px;
  background-color: #FFF;
  border-radius: 25px;
  padding: 25px;
}
.product-page__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-page__title {
  font-size: 32px;
  font-weight: 400;
  margin: 0px;
}
.product-page__price {
  font-size: 32px;
  font-weight: 400;
  margin: 0px;
}
.product-page__category {
  margin-top: 10px;
  color: #848484;
  font-size: 14px;
}
.product-page__tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.product-page__tag {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  background-color: #FFE4FB;
  border-radius: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.product-page__description {
  font-size: 16px;
}
.product-page__gallery-wrapper {
  position: relative;
}
.product-page__details {
  list-style-type: none;
  padding: 0;
}
.product-page__details-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-page__details-item ::marker {
  content: "";
}
.product-page__details-content {
  padding-top: 15px;
}
.product-page__breadcrumbs a {
  position: relative;
  color: #484848; /*задаём цвет ссылки*/
  cursor: pointer;
  line-height: 1; /*задаём высоту строки*/
  text-decoration: none;
}
.product-page__breadcrumbs a:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 1px; /*задаём ширину линии*/
  background-color: #484848; /*задаём цвет линии*/
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}
.product-page__breadcrumbs a:hover:after,
.product-page__breadcrumbs a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.product-favorite-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  background: #FFF;
  padding: 0;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-color: #B979CB;
  cursor: pointer;
  color: #B979CB;
}
.product-favorite-btn:hover {
  background-color: #B979CB;
  color: #FFF;
  transition: color 0.5s ease;
}

.footer {
  background: #FFF;
  width: 100%;
  z-index: 99999;
  margin-top: 80px;
}
.footer__container {
  height: 200px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.disabled {
  color: #848484 !important;
  cursor: default;
  text-decoration: none;
}

.enabled {
  color: #B979CB !important;
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown__item {
  padding: 12px 16px;
  display: block;
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
  display: block;
}

/*# sourceMappingURL=style.css.map */
